<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <div class="header">
                <h2>Big titty energy</h2>
            </div>

            <div class="content">
                <h1> The Home page</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, molestiae. Voluptatibus odit officiis
                    mollitia
                    expedita pariatur, delectus eius quaerat deserunt! Quas earum suscipit laboriosam dolor ex vero
                    autem,
                    quos
                    architecto!
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, possimus, neque ullam velit et autem
                    totam
                    quod
                    aut a accusantium aliquam sequi asperiores aspernatur temporibus sed. Id architecto deserunt quasi!
                </p>
            </div>
            <a href="/comments" class="btn btn-outline-success"> Comments</a>

            <%- include('partials/footer') %>
    </body>

    </html>