<%- include('partials/head') %>

<body>
<%- include('partials/navbar') %>

    <div class="header">
        <h2>Random Number</h2>
    </div>

    <h1> Your random number is : <%= rand %> </h1>




<%- include('partials/footer') %>

</body>

</html>